<div>
<div class=" flex lg:flex-row sm:flex-col rounded-2xl md:space-y-0 md:m-0 px-48 items-center justify-start">


<div class="flex flex-col md:mt-20 mr-0  mb-0 items-start justify-start m-3 ">
<p class="text-gray-700 text-4xl font-bold text-start ">Avviso importante!</p>
<p class="mt-4 text-gray-700 font-discord text-lg " >Informiamo tutta la clientela che i vari voli, hotel e attrazioni collocate in questo sito
 sono accessibili pure per chi è in sedia a rotelle! <br/> Per maggiori info consulta pure questa pagina</p>
<button class="font-semibold mt-5 bg-yellow-300 px-3 p-1 lg:text-start sm:text-center text-xl rounded-3xl">Clicca qui</button>
</div>
<div class=" ">
    <img
    src="images/like.png"
    class="lg:w-48 md:w-auto sm:w-auto xs:w-auto"
    />
</div>

</div>
</div>