    <div class="flex lg:flex-row md:flex-row sm:flex-col xs:flex-col items-center justify-center lg:space-x-72 md:space-x-0">
        <div class="flex flex-col items-center justify-center">

            <img src="/images/hotel (1).png" class="w-22 bg-white rounded-full"/>
            <p class="text-2xl text-gray-700 mt-4">Hotel e prezzi</p>
            <a class="text-lg text-gray-700 mt-4 lg:mb-0 md:mb-4 sm:mb-4 xs:mb-4 hover:underline">Mostra dettagli</a>
            </div>


            <div class="flex flex-col items-center justify-center ">

            <img src="/images/gift (1).png" class="w-22 bg-white rounded-full"/>
            <p class="text-2xl text-gray-700 mt-4">Offerte</p>
            <a class="text-lg text-gray-700 mt-4 lg:mb-0 md:mb-4 sm:mb-4 xs:mb-4 hover:underline">Mostra dettagli</a>
            </div>


            <div class="flex flex-col items-center justify-center">

            <img src="/images/cash-back.png" class="w-22 bg-white rounded-full"/>
            <p class="text-2xl text-gray-700 mt-4">Rimborso</p>
            <a class="text-lg text-gray-700 mt-4 lg:mb-0 md:mb-4 sm:mb-4 xs:mb-4 hover:underline">Mostra dettagli</a>
            </div>
    </div>