        <div class="text-center justify-center p-8  bg-white">
        <div class="flex lg:flex-row gap-5 text-center items-center justify-center">
            <p class="lg:text-7xl sm:text-4xl font-bold text-gray-700">Posti</p>
            <p class="lg:text-7xl sm:text-4xl font-bold text-gray-700 ">Preferiti</p>
            <p class="lg:text-7xl sm:text-4xl font-bold text-gray-700 ">Da Voi</p>
        </div>
        <p class="text-xl font-semibold mt-8 text-gray-700">Scopri i posti più amati da tutti i turisti!</p>
        <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col items-center justify-center gap-18 mt-7">
            <div class="flex flex-col  justify-center shadow-lg bg-red-700 rounded-2xl p-5">
                <img src="images/iguazu.jpg" class="lg:w-96 md:w-auto sm:w-auto xs:w-auto rounded-3xl"/>
                <div class="flex flex-row gap-3 mt-6">
                    <img src="images/world.png" class="w-6"/>
                <p class="uppercase font-semibold text-start text-white">Cascate di Iguazù (Argentina)</p>
                </div>
                <div class="flex flex-row mt-5 gap-2">
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <p class="text-lg text-white">(26.845)</p>
                </div>
            </div>
             <div class="flex flex-col justify-center shadow-lg bg-white rounded-2xl p-5">
                <img src="images/copacabana.jpg" class="lg:w-96 md:w-auto sm:w-auto xs:w-auto rounded-3xl"/>
                <div class="flex flex-row gap-3 mt-6">
                    <img src="images/world.png" class="w-6"/>
                <p class="uppercase font-semibold text-start">Spiagge di Copacabana (Brasile)</p>
                </div>
                <div class="flex flex-row mt-5 gap-2">
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <p class="text-lg ">(21.146)</p>
                </div>
            </div>
            <div class="flex flex-col justify-center shadow-lg bg-red-700 rounded-2xl p-5">
                <img src="images/sillustani.jpg" class="lg:w-96 md:w-auto sm:w-auto xs:w-auto rounded-3xl"/>
                <div class="flex flex-row gap-3 mt-6">
                    <img src="images/world.png" class="w-6"/>
                <p class="uppercase font-semibold text-start text-white">Complesso di Sillustani (Perù)</p>
                </div>
                <div class="flex flex-row mt-5 gap-2">
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <img src="/images/star (1).png" class="w-8"/>
                <p class="text-lg text-white">(12.116)</p>
                </div>
            </div>
        </div>
        <p class="text-gray-400 text-2xl font-bold text-start px-8 mt-12">RutaSol: la miglior agenzia viaggi!</p>
        <p class="text-md text-start px-8 text-gray-400">Ricordiamo che i posti preferiti sono verificati periodicamente ogni settimana in base alle recensioni lasciate dai turisti!</p>
        </div>